{% extends "layouts/main.html" %}

{% set pageName="Student loans" %}

{% block content %}

<div class="govuk-width-container">
  <a class="govuk-back-link" onclick="history.back();" style="cursor:pointer;" >Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post">
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "postgrad-loan",
        value: data['postgrad-loan'],
        fieldset: {
          legend: {
            text: "Do you repay a Postgraduate loan?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>


  </div>
</div>
</main>
</div>

{% endblock %}
