{% extends "layouts/main.html" %}

{% set pageName="Allowances amount" %}

{% set version="0-1-0" %}

{% block content %}

<div class="govuk-width-container">
  <a class="govuk-back-link" href="/" style="cursor:pointer;" >Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "Enter your monthly pension contributions amount in the correct format",
          href: "#pension-contributions-amount"
        },
        {
          text: "Your monthly pension contributions must be less than 100% of your income",
          href: "#pension-contributions-amount"
        }
      ]
    }) }}

    <h1 class="govuk-heading-xl">
      How much do you pay into a pension each month?
    </h1>
    <p class="govuk-body">We take your pension contributions off your gross income, the amount before deductions. Do not include contributions from your employer.</p>
    <form action="#" method="post">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        id: "pension-contributions-amount",
        name: "pension-contributions-amount",
        label: {
          text: "Amount",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        suffix: {
          text: "%"
        },
        hint: {
          text: "For example, 5% or 6.23%"
        },
        errorMessage: {
          text: "Enter your monthly pension contributions amount in the correct format<br>Your monthly pension contributions must be less than 100% of your income" | safe
        },
        value: data['pension-contributions-amount'],
        classes: "govuk-input--width-10",
        spellcheck: false
      }) }}

      


      
      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p><a href="#" class="govuk-link">You can tell us the amount in pounds and pence if you prefer.</a></p>


  </div>
</div>
</main>
</div>

{% endblock %}
