{% extends "layouts/main.html" %}

{% set pageName="Check answers" %}

{% set version="alts" %}


{% block content %}

<div class="govuk-width-container">
  <a class="govuk-back-link" href="/" style="cursor:pointer;" >Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Check your answers</h1>
    <h2 class="govuk-heading-m">Your income</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
              Gross income
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-third">
              £123,000 a year
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> gross income</span>
              </a>
            </dd>
          </div>
          {% if (data['gross-income-frequency'] == "a day") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
              Days worked a week
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-third">
              {{ data['number-days'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> number of days worked a week</span>
              </a>
            </dd>
          </div>
          {% endif %}
          {% if (data['gross-income-frequency'] == "an hour") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
              Hours worked a week
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-third">
              {{ data['number-hours'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> number of hours worked a week</span>
              </a>
            </dd>
          </div>
          {% endif %}
          
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
              Over State Pension age
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-third">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> over state pension age</span>
              </a>
            </dd>
          </div>
                   
        </dl>


        <h2 class="govuk-heading-m">Additional questions (Optional)</h2>
          <div class="govuk-hint">
            <p>Your results may be more accurate if you answer additional questions. </p>
          </div>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
                Tax code
              </dt>
              <dd class="govuk-summary-list__value govuk-!-width-one-third">
               
                <p>S1257L</p>
                

              </dd>
              <dd class="govuk-summary-list__actions">

                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> tax code</span></a> | <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> tax code</span></a>

              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
                Scottish Income Tax
              </dt>
              <dd class="govuk-summary-list__value govuk-!-width-one-third">
                <p>No</p>
                <div class="govuk-warning-text">
                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                  <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    You used a Scottish taxcode but don't live there.
                  </strong>
                </div>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> Scottish Income Tax Rate</span>
                </a>
              </dd>
            </div>



            
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
              Pension contributions
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-third">

              
              {% if (data['pension-contributions-amount'] == undefined) or (data['pension-contributions-amount'] == "")  %}
                None
              {% elseif (data['pension-contributions'] == "percentage")  %}
                  {{ data['pension-contributions-amount'] }}% a month
              {% elseif (data['pension-contributions'] == "fixed") %}
                  £{{ data['pension-contributions-amount'] | formatPounds }} a month
              {% else %}
                  None
              {% endif %}



            </dd>
            <dd class="govuk-summary-list__actions">

              <a class="govuk-link" href="#">
                Add<span class="govuk-visually-hidden"> pension contributions</span>
              </a>
                
            </dd>
            
          </div>
                  
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
              Student loan
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-third">
              {% if (data['student-loans'] == undefined) or (data['student-loans'] == "None") %}
                None
              {% else %}
                {% for studentLoans in data['student-loans'] %}
                  <p>{{ studentLoans }}</p>
                {% endfor %}
              {% endif %} 
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['student-loans'] == undefined) or (data['student-loans'] == "None") %}
                <a class="govuk-link" href="#">
                  Add<span class="govuk-visually-hidden"> student loans</span>
                </a>
              {% else %}
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> student loans</span></a> | <a class="govuk-link" href="/{{version}}/remove?option=student-loans">Remove<span class="govuk-visually-hidden"> student loans</span></a>
              {% endif %}
            </dd>
          </div>


          

          </dl>
        <form action="#" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">
  
          {{ govukButton({
            text: "Calculate take-home pay"
          }) }}
  
        </form>

  </div>
</div>
</main>
</div>

{% endblock %}
