{% extends "layouts/main.html" %}

{% set pageName="Check answers" %}

{% set version="0-0-1" %}


{% block content %}

<div class="govuk-width-container">
  <a class="govuk-back-link" onclick="history.back();" style="cursor:pointer;" >Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Check your answers</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Gross income
            </dt>
            <dd class="govuk-summary-list__value">
              £{{ data['gross-income-amount'] | formatPounds }} {{ data['gross-income-frequency'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/{{version}}/gross-income">
                Change<span class="govuk-visually-hidden"> gross income</span>
              </a>
            </dd>
          </div>
          {% if (data['gross-income-frequency'] == "a day") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Days worked a week
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['number-days'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/{{version}}/number-days">
                Change<span class="govuk-visually-hidden"> number of days worked a week</span>
              </a>
            </dd>
          </div>
          {% endif %}
          {% if (data['gross-income-frequency'] == "an hour") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Hours worked a week
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['number-hours'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/{{version}}/number-hours">
                Change<span class="govuk-visually-hidden"> number of hours worked a week</span>
              </a>
            </dd>
          </div>
          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Income type
            </dt>
            <dd class="govuk-summary-list__value">
              {% if (data['income-type'] == "job") %}
                 Income from a job
              {% else %}
                 Private pension income
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/{{version}}/income-type">
                Change<span class="govuk-visually-hidden"> gross income</span>
              </a>
            </dd>
          </div>
          {% if (data['income-type'] == "job") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Over State Pension age
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['state-pension-age'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/{{version}}/state-pension-age">
                Change<span class="govuk-visually-hidden"> over state pension age</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Pension contributions
            </dt>
            <dd class="govuk-summary-list__value">

              {% if (data['pension-contributions'] == "percentage")  %}
                {{ data['pension-contributions-percentage'] }}% a month
              {% elseif (data['pension-contributions'] == "fixed") %}
                £{{ data['pension-contributions-amount'] | formatPounds }} a month
              {% else %}
                None
              {% endif %}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/{{version}}/pension-contributions">
                Change<span class="govuk-visually-hidden"> pension contributions</span>
              </a>
            </dd>
          </div>
          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Registered blind
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['registered-blind']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/{{version}}/registered-blind">
                Change<span class="govuk-visually-hidden"> registered blind</span>
              </a>
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Student loan
            </dt>
            <dd class="govuk-summary-list__value">
                {% for studentLoans in data['student-loans'] %}
                  <p>{{ studentLoans }}</p>
                {% endfor %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/{{version}}/student-loans">
                Change<span class="govuk-visually-hidden"> student loan</span>
              </a>
            </dd>
          </div>
          {% if (data['other-allowances'] == undefined) %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other allowances and deductions
            </dt>
            <dd class="govuk-summary-list__value">
              <p>None</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/{{version}}/other-allowances">
                Change<span class="govuk-visually-hidden"> other allowances and deductions</span>
              </a>
            </dd>
          </div>

          {% else %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other allowances and deductions
            </dt>
            <dd class="govuk-summary-list__value">
              {% for otherAllowances in data['other-allowances'] %}
                  <p>{{ otherAllowances }}</p>
                {% endfor %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/{{version}}/other-allowances">
                Change<span class="govuk-visually-hidden"> other allowances and deductions</span>
              </a>
            </dd>
          </div>
          {% endif %}
          
          
          {% if (data['other-allowances'] == undefined) %}

          {% else %}

            {% if (data['other-allowances'].includes('Allowances')) %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Allowances
              </dt>
              <dd class="govuk-summary-list__value">

                {% if (data['allowances-frequency'] == "a year") %}
                  £{{ data['allowances-amount'] | formatPounds }} a year
                {% else %}
                  £{{ data['allowances-amount'] | formatPounds }} a month
                {% endif %}

              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/{{version}}/amount-allowances">
                  Change<span class="govuk-visually-hidden"> allowances amount</span>
                </a>
              </dd>
            </div>
            {% endif %}

          {% endif %}

          
          {% if (data['other-allowances'] == undefined) %}

          {% else %}

            {% if (data['other-allowances'].includes('Deductions')) %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Deductions
              </dt>
              <dd class="govuk-summary-list__value">

                {% if (data['deductions-frequency'] == "a year") %}
                  £{{ data['deductions-amount'] | formatPounds }} a year
                {% else %}
                  £{{ data['deductions-amount'] | formatPounds }} a month
                {% endif %}

              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/{{version}}/amount-deductions">
                  Change<span class="govuk-visually-hidden"> deductions amount</span>
                </a>
              </dd>
            </div>
            {% endif %}

          {% endif %}

          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Tax code
            </dt>
            <dd class="govuk-summary-list__value">
              {% if (data['tax-code'] == "") %}
              Not provided
              {% else %}
              {{ data['tax-code'] }}
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/{{version}}/taxcode">
                Change<span class="govuk-visually-hidden"> tax code</span>
              </a>
            </dd>
          </div>

          {% if (data['tax-code'] == "") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Scottish Income Tax rate
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['scottish-rate'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/{{version}}/scottish">
                Change<span class="govuk-visually-hidden"> Scottish Income Tax Rate</span>
              </a>
            </dd>
          </div>
          {% endif %}
        </dl>
        <form action="#" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">
  
          {{ govukButton({
            text: "Calculate take-home pay"
          }) }}
  
        </form>

  </div>
</div>
</main>
</div>

{% endblock %}
