{% extends "layouts/main.html" %}

{% set pageName="Income type" %}

{% block content %}

<div class="govuk-width-container">
  <a class="govuk-back-link" onclick="history.back();" style="cursor:pointer;" >Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "income-type",
        value: data['income-type'],
        fieldset: {
          legend: {
            text: "What type of income is this?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "job",
            text: "A job"
          },
          {
            value: "private pension",
            text: "A private pension"
          }
        ]
      }) }}
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Why we ask this
          </span>
        </summary>
        <div class="govuk-details__text">
          This helps us work out if you pay National Insurance on your income..
        </div>
      </details>
      {{ govukButton({
        text: "Continue"
      }) }}

    </form>


  </div>
</div>
</main>
</div>

{% endblock %}
