{% extends "layouts/main.html" %}

{% set pageName="Registered blind" %}

{% block content %}

<div class="govuk-width-container">
  <a class="govuk-back-link" onclick="history.back();" style="cursor:pointer;" >Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "registered-blind",
        value: data['registered-blind'],
        fieldset: {
          legend: {
            text: "Are you registered blind?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is this?
          </span>
        </summary>
        <div class="govuk-details__text">
          Some info about what this is as it might be helpful to those who didn't know it was a thing.
        </div>
      </details>
      {{ govukButton({
        text: "Continue"
      }) }}

    </form>


  </div>
</div>
</main>
</div>

{% endblock %}
