{% extends "layouts/main.html" %}

{% set pageName="State Pension age" %}

{% block content %}

<div class="govuk-width-container">
  <a class="govuk-back-link" href="/" style="cursor:pointer;" >Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "Select yes if you are over the State Pension age",
          href: "#state-pension-age"
        }
      ]
    }) }}

    <form action="#" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "state-pension-age",
        value: data['state-pension-age'],
        fieldset: {
          legend: {
            text: "Are you over the State Pension age?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ],
        errorMessage: {
          text: "Select yes if you are over the State Pension age"
        }
      }) }}
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Why we ask this
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>If you are over the State Pension age, you do not pay National Insurance - unless you're self-employed and pay Class 4 contributions.</p>
          <p>You can  <a href="https://www.gov.uk/state-pension-age" class="govuk-link" target="_blank">check your State Pension age (opens in a new tab)</a> if you are not sure.</p>
        </div>
      </details>
      {{ govukButton({
        text: "Continue"
      }) }}

    </form>


  </div>
</div>
</main>
</div>

{% endblock %}
