{% extends "layouts/main.html" %}

{% set pageName="Number of days" %}

{% block content %}

<div class="govuk-width-container">
  <a class="govuk-back-link" onclick="history.back();" style="cursor:pointer;" >Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        id: "number-days",
        name: "number-days",
        label: {
          text: "How many days a week do you usually work?",
          classes: "govuk-label--xl",
          isPageHeading: true
        },
        hint: {
          text: "If you do not know an approximate number is fine."
        },
        value: data['number-days'],
        classes: "govuk-input--width-10",
        spellcheck: false
      }) }}
    
      {{ govukButton({
        text: "Continue"
      }) }}

    </form>


  </div>
</div>
</main>
</div>

{% endblock %}
