{% extends "layouts/main.html" %}

{% set pageName="Registered blind" %}

{% block content %}

<div class="govuk-width-container">
  <a class="govuk-back-link" onclick="history.back();" style="cursor:pointer;" >Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "registered-blind",
        value: data['registered-blind'],
        fieldset: {
          legend: {
            text: "Are you registered blind?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}
      <p>If you're registered blind or severely sight impaired, you may get <a href="https://www.gov.uk/blind-persons-allowance" class="govuk-link" target="_blank">Blind Person's Allowance (opens in a new tab)</a>. This increases your Personal Allowance and means you pay less tax.</p>
      
      {{ govukButton({
        text: "Continue"
      }) }}

    </form>


  </div>
</div>
</main>
</div>

{% endblock %}
