{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Version</th>
            <th scope="col" class="govuk-table__header">Comments</th>
            <th scope="col" class="govuk-table__header">Links</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">0-0-2</th>
            <td class="govuk-table__cell">
              <p>Remove "out-of-scope" elements for blind person's allowance, other allowances and deductions.</p>
              <p>Include tapering.</p>
              <p>Make updates to some content and questions to improve understanding.</p>
              <p>Update to pension contributions inputs to improve clarity.</p>
            </td>
            <td class="govuk-table__cell"><a href="/0-0-2/1" class="govuk-link">Prototype</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">0-0-1</th>
            <td class="govuk-table__cell"><p>Initial build.</p>
              <p>Covers issues found in UR about the original tax calculator and presents 2 options for results screen. Includes options for pension contributions, student loans and blind person's allowance, other allowances and deductions.</p>
              <p>Doesn't include tapering as wasn't needed for initial group of users for UR.</p>
            </td>
            <td class="govuk-table__cell"><a href="/0-0-1/1" class="govuk-link">Prototype</a></td>
          </tr>
        </tbody>
      </table>

  </div>
</div>

{% endblock %}
