{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Version</th>
            <th scope="col" class="govuk-table__header">Comments</th>
            <th scope="col" class="govuk-table__header">Links</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">0-0-1</th>
            <td class="govuk-table__cell">Initial build</td>
            <td class="govuk-table__cell"><a href="/0-0-1/1" class="govuk-link">Prototype</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">0-0-2</th>
            <td class="govuk-table__cell">V2</td>
            <td class="govuk-table__cell"><a href="/0-0-2/1" class="govuk-link">Prototype</a></td>
          </tr>
        </tbody>
      </table>

  </div>
</div>

{% endblock %}
